"*":
  "atom-beautify":
    jsx:
      indent_size: 2
    markdown: {}
    vue:
      indent_size: 2
  "atom-clock":
    showTooltip: true
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": "never"
  core:
    disabledPackages: [
      "react"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
    ]
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    useProxySettingsWhenCallingApm: false
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "8bb95c8d-532b-4d9b-941c-e907066e2957"
  "language-babel": {}
  "linter-ui-default": {}
  minimap: {}
  "project-manager":
    prettifyTitle: false
    savePathsRelativeToHome: true
  "todo-show":
    statusBarIndicator: true
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndent: true
".js.jsx.source":
  editor:
    autoIndent: false
    softWrap: true
