"*":
  "atom-beautify":
    jsx:
      indent_size: 2
    markdown: {}
  "atom-clock":
    showTooltip: true
  core:
    packagesWithKeymapsDisabled: []
    telemetryConsent: "no"
    useProxySettingsWhenCallingApm: false
  editor:
    tabLength: 4
  "exception-reporting":
    userId: "8bb95c8d-532b-4d9b-941c-e907066e2957"
  "language-babel": {}
  "linter-ui-default":
    showPanel: true
  "project-manager":
    prettifyTitle: false
    savePathsRelativeToHome: true
  "todo-show":
    statusBarIndicator: true
  welcome:
    showOnStartup: false
".coffee.jsx.source":
  editor:
    autoIndent: true
".js.jsx.source":
  editor:
    autoIndent: false
    softWrap: true
