packages: [
  "atom-beautify"
  "atom-clock"
  "atom-ide-ui"
  "atom-ternjs"
  "atom-wx"
  "autocomplete-paths"
  "busy-signal"
  "docblockr"
  "editorconfig"
  "file-icons"
  "goto-definition"
  "highlight-selected"
  "intentions"
  "js-hyperclick"
  "language-babel"
  "language-vue"
  "linter"
  "linter-ui-default"
  "minimap"
  "package-sync"
  "platformio-ide-terminal"
  "project-manager"
  "react"
  "Stylus"
  "todo-show"
]
