packages: [
  "atom-beautify"
  "atom-clock"
  "atom-ide-ui"
  "atom-ternjs"
  "atom-wx"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "language-vue"
  "linter"
  "minimap"
  "package-sync"
  "platformio-ide-terminal"
  "project-manager"
  "react"
  "Stylus"
  "todo-show"
]
