[
  {
    title: "node-algorithm"
    group: "Nodejs"
    paths: [
      "~/Documents/WorkHome/GitHub/node-algorithm"
    ]
    devMode: true
  }
  {
    title: "tech-blog"
    group: "Blog"
    paths: [
      "~/Documents/WorkHome/BitBucket/tech-blog"
    ]
  }
  {
    title: "alpha"
    group: "Qingbao"
    color: "red"
    paths: [
      "~/Documents/WorkHome/Qingbao/Backend/alpha-objects/alpha"
    ]
    devMode: true
  }
  {
    title: "replica-lodash"
    group: "Nodejs"
    color: "yellow"
    paths: [
      "~/Documents/WorkHome/GitHub/replica-lodash"
    ]
    devMode: true
  }
  {
    title: "scripts-after-macOS-install"
    group: "Shell"
    paths: [
      "~/Documents/WorkHome/GitHub/scripts-after-macOS-install"
    ]
    color: "blue"
    devMode: true
  }
]
